<style>
    .del:checked + span{
        color:red;
    }
    .game-list{
        list-style:none;
    }
</style>


<form method="post" action="/game/add">
        <label>Add Task</label>
        <input type="text" name="game" placeholder="Add Game">
        <input type="submit" value="Submit">
</form>


<%= title %>

<form method="post" action="/game/delete">
    <ul class="game-list">
        <% games.forEach(function(game){ %>
            <li>
                <label>
                    <input type="checkbox" name="games" class="del" value="<%= game %>">
                    <span><%= game %></span>
                </label>
            </li>
        <% }) %>
    </ul>
    <input type="submit" value="Remove">
</form>

<h3>Wish List</h3>
Name: <%= wishlist.name %><br>
Platform: <%= wishlist.platform %>


<h3>Edit Next Game to Own</h3>
<form method="post" action="/wishlist/add">
    <label>Game Name</label><br>
    <input type="text" name="name" placeholder="Game Name">
    <br><br>
    <label>Platform</label><br>
    <input type="text" name="platform" placeholder="Platform">
    <br><br>
    <input type="submit" value="Submit">
</form>